<style media="screen">

      .navbar-inverse {
          color:white;
         background-color:#472C00;

     }

    input[type=text]:focus {
        width: 25%;
}
      h2 input {
          -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
      }

      input {
          box-shadow: 3px 3px 3px #034732;
      }

      .submitbutton{
          margin: 0 auto;
          margin-left: auto;
          margin-right: auto;
          display: block;
          text-align: center;

      }
      .points {
          margin: 0 auto;
           margin-left: auto ;
          margin-right: auto ;
          display: inline-block;
          float: center;
          padding-left: 300px;

      }

      .pointsone {
          margin: 10px;
            height: auto;
            width: auto;
            display:inline-block;
      }

      .pointstwo {
          margin: 10px;
          height: auto;
            width: auto;
          display:inline-block;
      }

      .pointsthree {
          margin: 10px;
          height: auto;
            width: auto;
          display: inline-block;
      }

      div h1 {
          text-align: center;
      }
      div h2 {
          text-align: center;
      }

      body h1 {
          font-family: 'Glegoo', serif;
	font-size: 50px;
	line-height: 65px;
           text-shadow: 2px 2px #ffffff;

       }

      body header {
          font-size: 20px;
      }

       body{
         /*keep this one*/
           background-image: url("http://static.nfl.com/static/content/public/pg-photo/2011/11/13/09000d5d8240f800_gallery_600.jpg");
         font-family: 'Glegoo', serif;
	font-size: 15px;
	line-height: 25px;
           color: #FFFFFF;
           background-color: #472c00;
       }

      nav .navbar{
          color: #d3d3d3;
      }

      .btn-primary {
          background-color: #472C00;
          border-color: #472C00;
      }

      textarea:focus, input:focus {
    color: #000000;
}
      input, select, textarea{
        color: #000;
          background-color: #4c565e;
    }

      input, textarea {
         background-color : #979797;
    }
           .well {
               background-color:#d3d3d3;
           }

           .well h1 {
               color:#472C00;
           }
           .modal-content {
               background-color: #d3d3d3;
               color: #472C00;
           }

           #content-container {
               margin: 0 auto;
               padding-top: 50px;
               padding-left: 175px;
               text-align: center;
           }

           .loginbutton {
               padding-top: 10px;
               padding-right: 245px;
               text-align:center;
           }

           .table td {
               font-size: large;
           }

     </style>





{{user.username}} you've been logged out
<br>
<a href="/login/">Login here</a>
<br>
